{{ partial "header.html" . }}

<main class="container columns">
    <div id="main-column" class="column is-two-thirds">
        <div class="content-left content">
                <h1 class="title alt-title"> {{ .Title }} </h1>
                {{ .Content }}
        </div>
    </div>
    <div class="column is-one-third">
            {{ with (.Resources.GetMatch "img/avatar.jpg") }}
            <div class="container has-max-width-256 has-padding-y">
                <figure class="image is-1by1 has-background-green">
                        <img class="is-rounded" src='{{ .RelPermalink }}'>
                </figure>
            </div>
            {{ end }}
            <div class="has-text-centered has-soft-links">
                <hr>
                {{ partial "social_media.html" . }}
                <hr>
            </div>
            <table class="is-block summary">
                {{ with .Params.name }}<tr>
                    <td>Name: </td> <td>{{ . }}</td>
                </tr>{{ end }}
                {{ with .Params.email }}<tr>
                    <td>Email: </td> <td><a href="mailto:{{ . }}">{{ . }}</a></td>
                </tr>{{ end }}
                {{ with .Params.langs }}<tr>
                    <td>Languages: </td>
                    <td><ul>{{ range . }}<li>{{ . }}</li>{{ end }}</ul></td>
                </tr>{{ end }}
                {{ with .Params.plangs }}<tr>
                    <td>Programming: </td> 
                    <td><ul>{{ range . }}<li>{{ . }}</li>{{ end }}</ul></td>
                </tr>{{ end }}
                {{ with .Params.learning }}<tr>
                    <td>Learning: </td> 
                    <td><ul>{{ range . }}<li>{{ . }}</li>{{ end }}</ul></td>
                </tr>{{ end }}
                {{ with .Params.skills }}<tr>
                <td>Skills: </td> 
                <td><ul>{{ range . }}<li>{{ . }}</li>{{ end }}</ul></td>
                </tr>{{ end }}
            </table>
    </div>
</main>

{{ partial "footer.html" . }}