{{ partial "header.html" . }}


<main id="main" class="container">
    <h1 class="has-text-centered has-margin-y has-text-weight-bold">{{ humanize .Title }}</h1>
    <hr/>
    <section class="archive has-padding">
        {{ range (where .Site.RegularPages "Section" "in" (slice "blog" "references")).GroupByDate "January, 2006"  }}
            <h2>{{ .Key }}</h2>
            <div class="columns is-multiline">        
                {{ range $index, $element := .Pages }}
                
                <div class="column is-full-mobile is-half">       
                    <strong>{{ add $index 1 }}.</strong>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <div class="meta">{{ if eq .Type "references" }}<i class="fa fa-link"></i> {{ end }}{{ .Date.Format "Monday, Jan 2, 2006" }}</div>
                </div>
                {{ end }}
            </div>
        {{ end }}

    </section>
</main>

{{ partial "footer" . }}