{{ partial "header.html" . }}


<main id="main" class="container">
    <section>
            {{ range $index, $element:= .Paginator.Pages }}
                {{ partial "post.html" . }} 
            {{ end }}

            {{ template "_internal/pagination.html" . }}
    </section>
</main>

{{ partial "footer" . }}