{{ partial "header.html" . }}

<main class="container has-padding-y">
    <div id="main-column">
        {{ if or (.Resources.GetMatch "img/featured.jpg") .Params.featured_img }}
        <div class="container has-max-width-192 has-padding-y">
            <figure class="image is-square has-background-green">
                    <img class="is-rounded" 
                    src='{{ if .Params.featured_img }}{{ .Params.featured_img }}{{ else }}{{ (.Resources.GetMatch "img/featured.jpg").RelPermalink }}{{ end }}'>
            </figure>
        </div>
        {{ end }}
        <div class="content-xy content has-soft-links has-text-centered">
            <h1 class="title has-text-centered"> {{ .Title }} </h1>
            <span class="is-size-7 is-italic">
                    {{ partial "post_meta.html" . }}
            </span>
            <hr/>
        </div>
        
        <div class="content-xy content">
                {{ .Content }}
        </div>
    </div>
</main>

{{ partial "footer.html" . }}