{{ partial "header.html" . }}

<main class="container has-padding-y">
<div class="columns is-multiline is-gapless is-marginless">
        <div id="main-column" class="column is-full {{ if not .Params.Sidebar_hidden }} is-two-thirds-desktop{{ end }}">
            <div class="content content-left">
                <h1 class="title"> {{ .Title }}
                <span class="is-size-7 is-block is-italic has-text-weight-normal">
                        {{ partial "post_meta.html" . }}
                </span>
            </h1>


                    {{ .Content }}
            </div>
        </div>

        {{ partial "sidebar.html" . }}
    </div>
</main>

{{ partial "footer.html" . }}