{{ partial "header.html" . }}


<main id="main" class="container">
    <h1 class="has-text-centered has-margin-y has-text-weight-bold">{{ humanize .Title }}</h1>
    <section class="archive has-padding">
        <ul class="column-list">
            {{ range $index, $element:= .Pages.ByTitle }}
                <li class="has-soft-padding-x"><a href="{{ .Permalink }}">{{ humanize .Title }}</a></li>
            {{ end }}
        </ul>

    </section>
</main>

{{ partial "footer" . }}