<div class="columns has-margin-y has-soft-links has-text-centered">
        {{ if .HasPrev }}
            <a class="column card has-margin is-block is-radiusless is-paddingless is-clearfix" href="{{ .Prev.URL }}">
                <span class="fa fa-angle-double-left is-size-5 has-padding is-inline-block has-border-right is-pulled-left"></span> 
                <span class="has-padding is-inline-block">Explore newer posts</span>
            </a>
            
        {{ end }}
        {{ if .HasNext }}
        <a class="column card has-margin is-block is-radiusless is-paddingless is-clearfix" href="{{ .Next.URL }}">          
                <span class="has-padding is-inline-block is-marginless">Explore older posts</span>
                <span class="fa fa-angle-double-right is-size-5 has-padding is-inline-block is-marginless has-border-left is-pulled-right"></span>
            </a>
        {{ end }}
</div>