<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">

    {{ partial "metadata.html" . }}

    {{ if .IsHome }}
        <title> {{ .Site.Title }} </title>
    {{ else }}
        <title> {{ .Title }} : {{ .Site.Title }} </title>
    {{ end }}

    {{ if .RSSLink }} 
        <link href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}' rel="alternate" type="application/rss+xml" title="{{ .Title }}" /> 
    {{ end }}

    {{ partial "head_includes" . }}

</head>

<body lang="en_US">

<header id="header" class="header">
    <div class="container columns">
        <div class="column is-three-fifths content-left"><a href="{{ .Site.BaseURL }}" class="is-size-4"><h1> {{ .Site.Title }}</h1>
        </a>{{ with .Site.Params.subtitle }}<h4 class="alt-title has-text-weight-normal">{{ upper . }}</h4>{{ end }}</div>
        <div class="column has-text-right">{{ partial "social_media.html" . }}</div>  
    </div>

    <nav class="menu is-uppercase">
        <div class="container">
            <ul class="columns is-gapless is-marginless is-multiline">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <li class='{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }} column is-one-fifth'>
                            <a href="#">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                            <ul class="sub-menu">
                                    {{ range .Children }}
                                        <li class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
                                            <a href="{{ .URL }}">{{ .Name }}</a>
                                        </li>
                                    {{ end }}
                            </ul>
                        </li>
              
                    {{ else }}
                        <li class="column is-one-fifth">
                            <a href="{{ .URL }}">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </nav>
</header>

