<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/fontawesome.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/all.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />