<article class="has-item-margin-y">
    <div class="columns is-gapless">
        <div class="column is-one-third">
            <div class="timeline-node is-block">
                <div class="is-size-2 is-inline-block is-middle-aligned has-text-weight-bold">{{ .Date.Format "02" }}
                </div>
                <div class="is-inline-block is-middle-aligned has-text-left">
                    <span class="is-size-5 is-block">{{ .Date.Format "January" }}</span>
                    <span class="is-size-6 is-block">{{ .Date.Format "2006" }}</span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="content-x">
                <a href="{{ .Permalink }}" class="has-text-grey-dark">
                    <h1 class="has-text-weight-bold"> {{ .Title }} </h1>
                </a>
                <div class="is-size-7 has-text-grey-dark is-italic">
                    {{ partial "post_meta.html" . }}
                </div>
            </div>
        </div>
    </div>

    <div class="columns is-gapless">
        <div class="column is-one-third ">
            {{ with .Params.featured_img }} {{ $path := split . "/" }} {{ $name := index $path (add (len $path) -1) }}
            <figure class="thumbnail is-block is-16by9 has-background-primary has-text-white">
                <img src="{{ . }}" title="{{ $name }}" alt="{{ $name }}">
            </figure>
            {{ end }}
        </div>

        <div class="column">
            <div class="content-xy">
                <p>{{ .Summary }}</p>
            </div>
            <div class="columns has-padding">
                {{ $BaseURL := .Site.BaseURL}}
                {{- with .Params.tags -}}
                <div class="column is-half is-marginless is-radiusless is-size-7">
                    {{- range . -}}
                    <a href="{{ $BaseURL }}/tags/{{ . | urlize }}"
                        class="has-soft-padding-x is-capitalized is-nowrap is-inline-block">
                        <i class="fas fa-hashtag"></i> {{ . }}
                    </a>
                    {{- end -}}
                </div>
                {{- end -}}

                {{ if .Truncated }}
                <div class="column has-text-right">
                    <a class="has-soft-padding-x" href="{{ .RelPermalink }}">Read More…</a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</article>