<article class="has-item-margin-y has-padding-y">
    <div class="columns is-gapless">
        <div class="column is-one-third">
            
            <div class="timeline-node is-block is-clearfix">
                    <div class="is-size-2 is-inline-block is-middle-aligned has-text-weight-bold">{{ .Date.Format "02" }}</div>
                    <div class="is-inline-block is-middle-aligned has-text-left">
                        <span class="is-size-5 is-block">{{ .Date.Format "January" }}</span>
                        <span class="is-size-6 is-block">{{ .Date.Format "2006" }}</span>
                    </div>
                    <i class="has-text-grey-light fa fa-link is-inline-block is-middle-aligned is-pulled-right is-size-1"></i>
            </div>
        </div> 
        <div class="column">
            <div class="content-x">
                <h1 class="has-text-weight-bold has-text-link">
                    <a href="{{ .Permalink }}" class="has-text-grey-dark">{{ .Title }}</a>
                </h1>
                <div class="is-size-7 has-text-grey-dark is-italic">
                        {{ partial "post_meta.html" . }}
                </div>
            </div>
        </div>
    </div>    
    <div class="columns is-gapless">
        <div class="column is-one-third"></div>
        <div class="column"><div class="content-xy">{{ .Summary }}</div></div>
    </div>
</article>