<script src="{{ .Site.BaseURL }}/js/sticky.min.js"></script>
<script>
    var sticky = new Sticky('.sticky');

    window.onscroll = function() {scrollListener()};

    function scrollListener() {
        var backToTop = document.getElementById("back-to-top");
        if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
            backToTop.classList.remove("is-hidden");
        } else {
            backToTop.classList.add("is-hidden");
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function goTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }

    function toogleFocusMode() {
        var sidebar = document.getElementById("sidebar");
        var main_column = document.getElementById("main-column");
        var button = document.getElementById("sidebar-toogle").firstChild;
        if (sidebar.classList.contains("is-hidden"))
        {
            sidebar.classList.remove("is-hidden");
            main_column.classList.add("is-two-thirds-tablet");
            button.classList.remove("fa-angle-left");
            button.classList.add("fa-angle-right");
            return;
        } 
        sidebar.classList.add("is-hidden");
        main_column.classList.remove("is-two-thirds-tablet");
        button.classList.remove("fa-angle-right");
        button.classList.add("fa-angle-left");
    }

    var btn = document.getElementById("sidebar-toogle");
    if(btn) btn.addEventListener("click", toogleFocusMode);
    btn = document.getElementById("back-to-top")
    if(btn) btn.addEventListener("click", goTop);
</script>

{{ if .Site.GoogleAnalytics }}
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
    function disableCookies()
    {
        window['ga-disable-{{ .Site.GoogleAnalytics }}'] = true;
    }

    function enableCookies()
    {
        window['ga-disable-{{ .Site.GoogleAnalytics }}'] = false;
    }

    window.cookieconsent.initialise({
    "palette": {
        "popup": {
        "background": "#edeff5",
        "text": "#838391"
        },
        "button": {
        "background": "#4b81e8"
        }
    },
    "position": "bottom-left",
    "type": "opt-in",
    "content": {
        "href": "{{ .Site.BaseURL }}/CookiePolicy"
    },
    onInitialise: function (status) {
        disableCookies();
        var type = this.options.type;
        var didConsent = this.hasConsented();
        if (type == 'opt-in' && didConsent) {
            enableCookies();
        }
        if (type == 'opt-out' && !didConsent) {
            disableCookies();
        }
        },
        onStatusChange: function(status, chosenBefore) {
        var type = this.options.type;
        var didConsent = this.hasConsented();
        if (type == 'opt-in' && didConsent) {
            enableCookies();
        }
        if (type == 'opt-out' && !didConsent) {
            disableCookies();
        }
        },
        onRevokeChoice: function() {
        var type = this.options.type;
        if (type == 'opt-in') {
            disableCookies();
        }
        if (type == 'opt-out') {
            enableCookies();
        }
        }
    });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>
{{ end }}