<aside id="sidebar" class="column {{ if .Params.Sidebar_hidden }} is-hidden{{ end }}" data-sticky-container>
    <div class="sidebar first timeline-node is-bot-centered">
        <div class="has-margin-y">
            <div class="is-size-2 is-inline-block has-text-weight-bold">{{ .Date.Format "02" }}</div>
            <div class="is-inline-block">
                <span class="is-size-5 is-block">{{ .Date.Format "January" }}</span>
                <span class="is-size-6 is-block">{{ .Date.Format "2006" }}</span>
            </div>
        </div>    
    </div>
    {{ $BaseURL := .Site.BaseURL}}
    {{- with .Params.tags -}}
            <div class="sidebar">
            <h3 class="is-size-6 has-border-bt has-padding">Tags</h3>
            <ul class="is-block has-padding">
                {{- range . -}}
                <li>
                    <a href="{{ $BaseURL }}/tags/{{ . | urlize }}" class="has-soft-padding-x is-capitalized is-italic is-nowrap">
                        <i class="fas fa-hashtag"></i> {{ . }} 
                    </a>
                </li>
                {{- end -}} 
            </ul>
        </div>
    {{- end -}}
    

    {{ if and (gt .WordCount 400 ) (.Params.toc) }}
    <div class="sticky " data-sticky-class="is-sticky-sidebar">
        <nav class="sidebar has-margin-y" >
            <h3 class="is-size-6 has-border-bt has-padding">Table Of Contents</h3>
            <div class="has-padding">        
                {{ .TableOfContents }}
            </div>
        </nav>
    </div>
    {{ end }}
</aside>