<ul class="is-size-7">
{{ range .Site.Menus.social }}
    <li class="is-inline-block has-soft-padding-x">
        <a class="is-size-3" href="{{ .URL }}" aria-label="{{ .Name }}">
            {{ .Pre }}
        </a>
    </li>
{{ end }}
</ul>