{{ partial "header.html" . }}


<main id="main">
    <section class="container">
            {{ $paginator := (.Paginate (where .Site.RegularPages "Section" "in" (slice "blog" "references") ) ) }}
            {{ range $index, $element:= $paginator.Pages }}
                {{ if eq .Type "references" }}
                    {{ partial "reference.html" . }}
                {{ else }}
                    {{ partial "post.html" . }} 
                {{ end }}

            {{ end }}

            {{ partial "basic_paginator.html" $paginator }}

    </section>
</main>

{{ partial "footer" . }}