/**
* Pre Default Variables config 
* ------------------------------------------------------------
*/

$cyan: rgb(137, 236, 253);
$blue: rgb(6, 116, 175);
$red: #bc3428;
$purple: #c14566;
$green: #63b175;
$grey-light: hsl(0, 0%, 86%);
$grey-lighter: #f6f6f6;
$primary: #5f4555;
$dark: #222;

$body-size: 17px;
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "Roboto Mono", monospace;

/**
 * Import bulma utilities
 * ------------------------------------------------------------
 */
@import "../../node_modules/bulma/sass/utilities/_all.sass";

/**
 * Post Default Variables config
 * ------------------------------------------------------------
 */
$link: $blue;
$link-hover: $blue;
$body-background-color: $white;
$header: $primary;
$footer: $primary;
$dimensions: 16 24 32 48 64 96 128 192 256 512;

/**
 * Import bulma modules
 * ------------------------------------------------------------
 */

@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/components/message.sass";

/**
 * Custom Helpers 
 * ------------------------------------------------------------
 */

@each $dimension in $dimensions {
  &.has-max-width-#{$dimension} {
    max-width: $dimension * 1px;
  }
}

.is-x2 {
  font-size: 2em;
}
.is-x3 {
  font-size: 3em;
}
.is-x4 {
  font-size: 4em;
}
.is-x5 {
  font-size: 5em;
}

.is-nowrap {
  white-space: nowrap;
}
.is-bot-centered {
  align-items: baseline;
}

.has-padding-x {
  padding: 0em 1em;
}
.has-padding-y {
  padding: 1em 0em;
}
.has-soft-padding-x {
  padding: 0.3em 1em;
}
.has-soft-padding-y {
  padding: 1em 0.3em;
}
.has-padding-l {
  padding-left: 0.7em;
}
.has-padding-r {
  padding-right: 0.7em;
}
.has-padding {
  padding: 1em;
}
.has-fx-padding {
  padding: 1rem;
}

.has-margin-x {
  margin: 0em 1em;
}
.has-margin-y {
  margin: 1em 0em;
}
.has-item-margin-y {
  margin: 3em 0em 3em 0em;
}
.has-soft-margin-x {
  margin: 0.3em 1em;
}
.has-soft-margin-y {
  margin: 1em 0.3em;
}
.has-margin-top-s2 {
  margin-top: 2em;
}
.has-margin-l {
  margin-left: 0.7em;
}
.has-margin-r {
  margin-right: 0.7em;
}
.has-margin {
  margin: 1em;
}

.has-border-top {
  border-top: 1px solid $grey-light;
}
.has-border-bt {
  border-bottom: 1px solid $grey-light;
}
.has-border-right {
  border-right: 1px solid $grey-light;
}
.has-border-left {
  border-left: 1px solid $grey-light;
}

.is-rounded {
  border-radius: 100% !important;
}
.is-middle-aligned {
  vertical-align: middle;
}

.is-table {
  display: table;
  * {
    display: table-cell;
  }
}

/**
 * General styles 
 * ------------------------------------------------------------
 */

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  outline: none;
  padding-bottom: 0.3em;
}

h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 0.9em;
}
h5 {
  font-size: 0.7em;
}
h6 {
  font-size: 0.5em;
}

.title {
  font-size: 2.2em;
}
.alt-title {
  padding: 0.3rem 1rem;
  margin-bottom: 1.3rem;
  background: linear-gradient(90deg, $grey-lighter 70%, $white 100%);
  border-left: 7px solid $primary;
}

.quote,
blockquote {
  padding: 0.3em 1em;
  background: linear-gradient(90deg, $grey-lighter 70%, $white 100%);
  border-left: 7px solid $primary;
}

.content {
  margin: 0 auto;
  max-width: 1024px;
}

.content-xy {
  padding: 1rem;
  @include desktop {
    padding: 1rem 3rem;
  }
}

.content-left {
  padding: 1rem;
  @include desktop {
    padding: 1rem 3rem 1rem 0em;
  }
}

.content-right {
  padding: 1rem;
  @include desktop {
    padding: 1rem 0rem 1rem 3rem;
  }
}

.content-x {
  padding: 0rem 1rem;
  @include desktop {
    padding: 0rem 3rem;
  }
}

.content h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.has-text-link {
  color: $link !important;
}
.has-text-white a {
  color: $white;
}

.has-soft-links a {
  color: inherit;
  &:hover {
    color: $link;
    text-decoration: none;
  }
}

a {
  text-decoration: none;
  &:link,
  &:active {
    outline: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

p {
  text-align: left;
  margin: 0.7em 0.1em;
}

.header {
  position: relative;
  background: $header;
  border-bottom: 1px solid $grey-light;
  color: $white;

  a {
    color: $white;
  }

  .alt-title {
    border-left: 7px solid $white;
    margin: 0 0 0 1rem;
    padding: 0 0 0 0.7rem;
    background: transparent;
  }
}

.footer {
  position: relative;
  margin-top: 3em;
  background-attachment: fixed;
  background: darken($footer, 10%);
  color: $white;
  border-top: solid 0.5em $footer;
  a {
    color: $white;
  }
  .copyright {
    background: darken($footer, 30%);
    margin-top: 3em;
  }

  &::after {
    position: absolute;
    display: block;
    top: -1em;
    left: 3%;
    right: 3%;
    height: 1em;
    content: "";
    background: lighten($footer, 35%);
    z-index: -1;
  }

  &::before {
    position: absolute;
    display: block;
    top: -1.5em;
    left: 6%;
    right: 6%;
    height: 1em;
    content: "";
    background: lighten($footer, 50%);
    z-index: -1;
  }
}

#back-to-top {
  position: fixed;
  display: none;

  height: 3rem;
  width: 3rem;
  box-shadow: none !important;

  i {
    position: absolute;
    top:0.4rem;
    left:0.8rem;
  }

  @include tablet {
    display: block;
  }

  &.is-rounded{
    border-radius: 100%;
  }

  bottom: 0;
  right: 0;
  z-index: 99;
  &:hover {
    cursor: pointer;
    color: $link;
  }
}

hr {
  position: relative;
  display: block;
  width: 4em;
  background: $primary;
  height: 4px;
  margin: 1em auto;
}

/**
 * Tables
 * ------------------------------------------------------------
 */

table {
  width: 100%;
  overflow-x: auto;
  td {
    margin: 0 auto;
    padding: 0.3em 2em 0.3em 0;
  }
}

table.summary {
  tr {
    td:first-child {
      font-weight: bold;
    }
  }
}

/**
 * Menu
 * ------------------------------------------------------------
 */

$menu-color: $white;
$menu-color-2: $primary;
$menu-background: darken($header, 5%);
$menu-background-2: $white;

.menu {
  overflow: visible;
  background: $menu-background;

  li {
    overflow: visible;
    position: relative;
    color: $menu-color;

    a {
      display: block;
      height: 100%;
      text-align: center;
      //font-weight: bold;
      text-decoration: none;
      color: inherit;
      padding: 0.5em 0.7em 0.7em 0.7em;
      transition: all ease-in-out 0.3s;
    }

    ul {
      color: inherit;
      margin: 0;
      display: block;
      position: relative;
      border: solid $grey-light;
      border-width: 1px 0 1px 0;
      width: 100%;
      top: 100%;
      left: 0;
      z-index: 99;
      background: $menu-background-2;

      @include tablet {
        margin: 0;
        display: none;
        position: absolute;
        border-width: 1px 1px 1px 1px;
      }

      a {
        text-align: left;
        padding-left: 2.5em;
        @include tablet {
          padding-left: 1em;
        }
        background: $menu-background-2;
        color: $menu-color-2;
        transition: all ease-in-out 0.3s;

        &:hover {
          background: $menu-color-2;
          color: $menu-background-2;
          transition: all ease-in-out 0.3s;
        }
      }
    }

    &:hover ul {
      display: block;
    }

    &::before {
      position: absolute;
      display: block;
      background: $menu-color;
      height: 4px;
      width: 0;
      bottom: 0;
      left: 0;
      content: "";
      transition: all ease-in-out 0.3s;
    }

    li::before {
      background: $menu-color-2;
    }

    &:hover::before {
      width: 100%;
      transition: all ease-in-out 0.3s;
    }
  }
}

/**
 * Sidebar
 * ------------------------------------------------------------
 */

.is-sticky-sidebar {
  @include desktop {
    padding-right: 1.4em !important; // Hack to preserve width
  }
}

.sidebar {
  position: relative;
  overflow: visible;
  border: solid $grey-light;
  border-width: 1px 1px 1px 1px;
  background: $grey-lighter;

  margin: 1em 0 1em 0;
  @include desktop {
    margin: 1em 0 3em 0;
  }
  
  .first {
    margin: 0 0 3em 0;
  }
  &::before {
    display: none;
    @include desktop {
      display: block;
    }
    position: absolute;
    border: 1px solid $grey-light;
    background: lighten($grey-lighter, 1%);
    left: 0.71em;
    top: 0.7em;
    bottom: -0.7em;
    width: 100%;
    content: "";
    z-index: -1;
  }
  &::after {
    display: none;
    @include desktop {
      display: block;
    }
    position: absolute;
    background: lighten($grey-lighter, 2%);
    border: 1px solid $grey-light;
    left: 1.4em;
    top: 1.4em;
    bottom: -1.4em;
    width: 100%;
    content: "";
    z-index: -2;
  }
}

#sidebar-toogle {
  position: absolute;
  display: none;

  @include tablet {
    display: block;
  }

  top: 2em;
  right: 0;
  z-index: 99;
  &:hover {
    cursor: pointer;
    color: $link;
  }
}

/**
 * Archive
 * ------------------------------------------------------------
 */

.archive {
  ul {
    list-style-type: decimal;
    li {
      margin-left: 3em;
    }
  }
}

.column-list {
  @include tablet {
    columns: 2;
  }

  @include fullhd {
    columns: 3;
  }
}

/**
 * Table Of Contents
 * ------------------------------------------------------------
 */

#TableOfContents,
#TableOfContents a {
  color: $link;
}

#TableOfContents ul {
  list-style-type: none;
  margin: 0;
  counter-reset: item;
}

#TableOfContents li {
  display: table;
  counter-increment: item;
}

#TableOfContents ul li::before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

#TableOfContents li li::before {
  content: counters(item, ".") " ";
}

ul ul {
  margin-left: 1em;
}

/**
 * Lists
 * ------------------------------------------------------------
 */
.content > ul {
  margin-bottom: 0.6em;
}

.content ul li:before {
  display: inline-block;
  padding-right: 0.4em;
  content: "—";
}

ol {
  counter-reset: item;
}

ol li {
  display: table;
  counter-increment: item;
}

ol li::before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

ol li ol li::before {
  content: counters(item, ".") " ";
}

ul ul {
  margin-left: 1em;
}

/**
 * Cards
 * ------------------------------------------------------------
 */

figure.thumbnail {
  //background: rgb(231, 245, 248);
  position: relative;
  display: block;
  padding: 1rem;
  margin: auto;
  overflow: hidden;

  @include tablet {
    box-shadow: 2px 2px 5px $grey-light;
  }
  @include desktop {
    box-shadow: 2px 2px 15px darken($color: $grey-light, $amount: 26%);
  }
  
  img {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    height: auto;
    width: 100%;
    &.is-rounded {
      border-radius: $radius-rounded;
    }
  }
  &.is-square,
  &.is-1by1 {
    padding-top: 100%;
  }
  &.is-5by4 {
    padding-top: 80%;
  }
  &.is-4by3 {
    padding-top: 75%;
  }
  &.is-3by2 {
    padding-top: 66.6666%;
  }
  &.is-5by3 {
    padding-top: 60%;
  }
  &.is-16by9 {
    padding-top: 56.25%;
  }
  &.is-2by1 {
    padding-top: 50%;
  }
  &.is-3by1 {
    padding-top: 33.3333%;
  }
  &.is-4by5 {
    padding-top: 125%;
  }
  &.is-3by4 {
    padding-top: 133.3333%;
  }
  &.is-2by3 {
    padding-top: 150%;
  }
  &.is-3by5 {
    padding-top: 166.6666%;
  }
  &.is-9by16 {
    padding-top: 177.7777%;
  }
  &.is-1by2 {
    padding-top: 200%;
  }
  &.is-1by3 {
    padding-top: 300%;
  }
}

figure {
  text-align: center;
}

figure.has-frame {
  border: 3px solid $grey-lighter;
}

.card {
  background-color: $white;
  border: 1px solid $grey-light;
  border-radius: 5px;
  box-shadow: 0 0 5px $grey-light;
  overflow: hidden;

  .card-header {
    border-bottom: $grey-light solid 1px;
  }
  .card-footer {
    border-top: $grey-light solid 1px;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-luminance: colorLuminance($color);
    $lighten-percentage: percentage($color-luminance * $color-luminance);
    @if $color-luminance > 0.2 {
      $lighten-percentage: $color-luminance * (95% / (1 + ($color-luminance)));
    }
    @if $color-luminance > 0.7 {
      $lighten-percentage: $color-luminance * (95% / (1 + 2.5 * (1 + $color-luminance)));
    }
    $cl-adjust: $color-luminance - 0.5;
    $darken-percentage: percentage(-0.3 * $cl-adjust * $cl-adjust + 0.3);
    $desaturate-percentage: $color-luminance * 50%;
    $bkg-color: desaturate(lighten($color, $lighten-percentage), $desaturate-percentage);
    &.is-#{$name},
    .card-header.is-#{$name},
    .card-footer.is-#{$name} {
      background-color: $bkg-color;
      color: findColorInvert($bkg-color);
      &,
      * {
        border-color: darken($color, $darken-percentage);
      }
    }
  }
}

.timeline-node {
  position: relative;
  padding: 1em;
  @include tablet {
    padding: 0;
  }

  div {
    padding: 0rem 1rem;
    min-width: 10em;
  }
  .is-size-2,
  .is-size-3 {
    text-align: right;
    min-width: 2em;
    border-right: 1px solid $grey-light;
  }
  .is-size-7 {
    display: inline-block;
    vertical-align: baseline;
  }
}

/**
 * Code highlighting
 * ------------------------------------------------------------
 */
.highlight {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: $grey 0px 1px 4px;
  margin-bottom: 1em;
}

/**
 * Syntax style
 * ------------------------------------------------------------
 */
@import "../css/syntax.css";
