{{ partial "header.html" . }}

<main id="main">
    <section class="container has-padding">
        {{ range $index, $element := .Paginator.Pages }}
            {{ partial "reference.html" . }}
        {{ end }}
    </section>
</main>

{{ partial "footer" . }}