<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Refresh" content="0; url={{.Params.link}}" />
  </head>
  <body>
    <p>Please follow <a href="{{ .Params.link }}">this link</a>.</p>
  </body>
</html>